    / {
        macros {

macro_EXCLAMATION: macro_EXCLAMATION {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "!_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp N1>,
        <&macro_release &kp LSHFT>;
};


macro_AT_SIGN: macro_AT_SIGN {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "@_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp N2>,
        <&macro_release &kp LSHFT>;
};


macro_HASH: macro_HASH {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "#_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp N3>,
        <&macro_release &kp LSHFT>;
};


macro_DOLLAR: macro_DOLLAR {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "$_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp N4>,
        <&macro_release &kp LSHFT>;
};


macro_PERCENT: macro_PERCENT {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "%_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp N5>,
        <&macro_release &kp LSHFT>;
};


macro_CARET: macro_CARET {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "^_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp N6>,
        <&macro_release &kp LSHFT>;
};


macro_AMPERSAND: macro_AMPERSAND {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "&_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp N7>,
        <&macro_release &kp LSHFT>;
};


macro_ASTERISK: macro_ASTERISK {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "*_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp N8>,
        <&macro_release &kp LSHFT>;
};


macro_LEFT_PAREN: macro_LEFT_PAREN {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "(_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp N9>,
        <&macro_release &kp LSHFT>;
};


macro_RIGHT_PAREN: macro_RIGHT_PAREN {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = ")_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp N0>,
        <&macro_release &kp LSHFT>;
};


macro_UNDERSCORE: macro_UNDERSCORE {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "__MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp MINUS>,
        <&macro_release &kp LSHFT>;
};


macro_PLUS: macro_PLUS {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "+_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp EQUAL>,
        <&macro_release &kp LSHFT>;
};


macro_LEFT_BRACE: macro_LEFT_BRACE {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "{_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp LBKT>,
        <&macro_release &kp LSHFT>;
};


macro_RIGHT_BRACE: macro_RIGHT_BRACE {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "}_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp RBKT>,
        <&macro_release &kp LSHFT>;
};


macro_COLON: macro_COLON {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = ":_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp SEMI>,
        <&macro_release &kp LSHFT>;
};


macro_DOUBLE_QUOTE: macro_DOUBLE_QUOTE {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "dq_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp APOSTROPHE>,
        <&macro_release &kp LSHFT>;
};


macro_LESS_THAN: macro_LESS_THAN {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "<_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp COMMA>,
        <&macro_release &kp LSHFT>;
};


macro_GREATER_THAN: macro_GREATER_THAN {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = ">_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp DOT>,
        <&macro_release &kp LSHFT>;
};


macro_QUESTION: macro_QUESTION {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "?_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp SLASH>,
        <&macro_release &kp LSHFT>;
};


macro_PIPE: macro_PIPE {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "|_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp BACKSLASH>,
        <&macro_release &kp LSHFT>;
};


macro_TILDE: macro_TILDE {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    label = "~_MACRO";
    wait-ms = <0>;
    bindings =
        <&macro_wait_time TIMEOUT>,
        <&macro_press &kp LSHFT>,
        <&macro_tap &kp GRAVE>,
        <&macro_release &kp LSHFT>;
};

        };
    };
